<%= bootstrap_form_for([:admin, @page], layout: :horizontal, html: {class: 'page-form'}) do |f| %>
  <%= render partial: 'form_fields', locals: {f: f} %>
  <div class="row">
    <div class="col-sm-6">
      <div class="syntax-help-link">
        <%= link_to 'http://daringfireball.net/projects/markdown/syntax', target: '_blank' do %>
          <span class="fa fa-question-sign"></span>
          Markdown Syntax Help
        <% end %>
      </div>
    </div>
    <div class="col-sm-6 text-right">
      <%= f.submit 'Update', class: "btn btn-success" %>
    </div>
  </div>
<% end %>