<% if @comments.any? %>
  <div class="row">
    <div class="col-md-5">
      <%= page_entries_info @comments %>
    </div>
    <div class="col-md-7 text-right">
      <%= paginate @comments %>
    </div>
  </div>
<% end %>
