<h2>
  <%= link_to post.title, blog_post_path(post.id) %>
</h2>

<% if post.abstract.present? %>
  <div class="abstract">
    <%= markdown(post.abstract) %>
  </div>
<% else %>
  <div class="main-body">
    <%= markdown(post.main_body) %>
  </div>
<% end %>
  