<% if @blog_category %>
  <h2>
    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
    <%= @blog_category.name %>
  </h2>
<% end %>

<div id="blog-content">
  <%= render partial: 'blog_posts/post', collection: @posts, as: :post %>
</div>
