<% content_for :facebook_meta_tags do %>
  <%= render('shared/facebook_meta_tags', post: @post) %>
<% end %>

<article class="blog-content__article">
  <h1><%= @post.title %></h1>
  <%= markdown(@post.full_body) %>
</article>
