<div id="nav__palm">

  <span class="ml+">
    <%= link_to '<i class="fa fa-home blog__link pl"></i>'.html_safe, root_path %>
  </span>

  <h5 id="nav__palm-menu-trigger" class="sans-serif blog__link pl">
    <%= t(:menu, scope: 'blog.nav') %>
  </h5>

  <span class="mh" id="blog-header__languages">
    <%# language_switcher.html_safe %>
  </span>

  <div id="nav__palm-menu" style="display: none">
    <ul class="pl0 m0">
      <li><%= link_to "Speakerinnen", "https://speakerinnen.org/", class: "nav__palm-menu-link bb" %></li>
    <ul>
  </div>

</div>
