<div id="nav__lap-and-up">

  <%= link_to('http://speakerinnen.org', target: '_blank', id: 'blog-header__home-link') do %>
    <%= image_tag("logo_header.png", alt: "logo", id: 'blog-header__logo') %>
  <% end %>
  <span class="mh" id="blog-header__languages">
    <%# language_switcher.html_safe %>
  </span>

</div>
