<div id="nav__palm">

  <span>
    <%= link_to '<i class="fa fa-home"></i>'.html_safe, root_path %>
  </span>

  <span id="blog-header__languages">
    <%= language_switcher.html_safe %>
  </span>

</div>
