<div id="myfirstchart-<%= event.id %>" style="height: 250px;"> </div>
<script>

  Morris.Donut({
    element: 'myfirstchart-<%= event.id %>',
    data: [
      {label: "Männer", value: <%= event.total - event.woman %> },
      {label: "Frauen", value: <%= event.woman %>},
    ],
    backgroundColor: '#ccc',
    labelColor: '#1E243E',
    colors: [
      '#0188E1',
      '#E6143B'
    ]
  });

</script>
