<div id="myfirstchart" style="height: 250px;" </div>
<script>

  Morris.Donut({
    element: 'myfirstchart',
    data: [
      {label: "Männer", value: <%= event.total - event.woman %> },
      {label: "Frauen", value: <%= event.woman %>},
    ],
    backgroundColor: '#ccc',
    labelColor: '#16282D',
    colors: [
      '#949024',
      '#AB2C23'
    ]
  });

</script>
