<%= render partial: 'tag_or_search_summery' %>

<%= render @events %>

<% if @events.any? %>
  <div class="row">
    <div class="col-md-5">
      <%= page_entries_info @events %>
    </div>
    <div class="col-md-7 text-right">
      <%= paginate @events %>
    </div>
  </div>
<% end %>
