<h1>Neue Veranstaltung eintragen:</h1>

<p>
  Und so geht's: Felder ausfüllen, soweit Du die Informationen hast.
  Zentral sind natürlich die Zahl der weiblichen* Sprecherinnen und die Gesamtzahl.
  Bitte nicht den Link zur Speaker-Liste vergessen. So lassen sich die Angaben leicht
  nachvollziehen.
</p>
<p>
  Wenn Du fertig bist, einfach "Speichern". Dein Eintrag bleibt auch danach noch 20min
  für <strong>Dich</strong> editierbar. Für andere wird er erst sichtbar, wenn jemand
  von der Moderation ihn frei geschaltet hat.
</p>
<p>Los gehts:</p>

<%= render 'form' %>

<p>
  Danke für Deinen Beitrag.
  Auch nach dem Speichern kannst <strong>Du</strong> die Daten der Veranstaltung noch für 20min
  weiter bearbeiten.
</p>
