a {
	text-decoration: none;
	font-family: $sans-serif;
}

.blog {
  font-family: $serif;
  color: $font-color;
}

.blog__link {
	color: $link-color;
}

.blog__link:hover {
	color: $font-color;
}

.sans-serif {
	font-family: $sans-serif;
}

h1{
  font-weight: normal;
  line-height: 60px;
}

h2{
  font-weight: normal;
}

#blog-content {
  margin-top: $header-height;
}

.fa {
  display: inline;
}

.bb {
  border-bottom: 1px solid $light-grey;
}

#blog-header__logo {
  position: absolute;
  left: 0;
  padding-left: 20px;

  @media only screen and ( max-width: 40em ) /* 640 */{
    display: none;
  }
}

header {
  text-align: right;
  line-height: $header-height;
  box-shadow: 0 1px 11px #999099 inset;
  width: 100%;
  background: $body-bg-color;
  position: fixed;
  top: 0;
  z-index: 99;
}

#nav__lap-and-up {
  @include media-query(palm) {
    display: none;
  }
}

#nav__palm {
  text-align: left;
  @include media-query(lap-and-up) {
    display: none;
  }
}


#nav__palm-menu-trigger {
  cursor: pointer;
  display: inline;
}

#nav__palm-menu {
}

.nav__palm-menu-link {
  display: block;
  color: $link-color;
  background-color: $link-bg-color;
  text-align: left;
  padding-left: $inuit-base-spacing-unit;
  line-height: double($inuit-base-spacing-unit);
}

.nav__palm-menu-link:hover {
  color: $link-color-hover;
  background-color: $link-bg-color-hover;
}


#blog-header {
  text-align: right;
  line-height: $header-height;
  box-shadow: 0 1px 11px #999099 inset;
  width: 100%;
  background: $body-bg-color;
  position: fixed;
  top: 0;
}

#blog-header__languages a{
  padding: 0 6px;
}


/* sidebar */
#blog-sidebar--right {
  background-color: $white-smoke;
}

#blog-sidebar--right a {
	color: $link-color;
}

#blog-sidebar--right a:hover {
	color: $font-color;
}

.blog-sidebar__title {
	font-family: $sans-serif;
  color: $dark-grey;
  font-size: $inuit_base_font_size;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 40px;
  border-top: solid 1px $light-grey;
}


/* layout */
#blog-content {
  margin-top: $header-height;
}

.layout-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* article */
.blog-content__article {
  background-color: $white-smoke;
}

.blog-content__article img{
  max-width: 100%;
  max-height: 100%;
}

.blog-content__article a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
    background-color: $link-bg-color-hover;
    padding: 0 2px;
  }
}

.blog-content__glyphicon {
  position: static;
}
