.comments {
  .title {
    border-left: 4px solid silver;
  }
  .mod-state-ok .title {
    border-left-color: green;
  }
  .mod-state-hidden .title {
    border-left-color: Crimson;
  }
  .last {
    border-right: 1px solid #ccc;
  }

  .commentable {
    color: #999;
  }
}
