#filter-form {
 margin-bottom: 12px;
}

#published-events {
  .title {
    border-left: 4px solid silver;
  }
  .mod-state-ok .title {
    border-left-color: green;
  }
  .mod-state-hidden .title {
    border-left-color: Crimson;
  }
  .last {
    border-right: 1px solid #ccc;
  }
}

.edit_event {
  legend {
    background-color: $dark-grey;
    color: $bright-grey;
    padding-left: 8px;
  }
}

a.internal-info {
  color: #999;
  cursor: w-resize;
  &:hover {
    text-decoration: none;
  }
}

.popover{
  max-width:540px;
}


.event-properties {
  h4 {
    border-bottom: 1px solid gray;
  }
}
