#filter-form {
 margin-bottom: 12px;
}

#published-events {
  .title {
    border-left: 6px solid silver;
  }
  .mod-state-ok .title {
    border-left-color: #2BB124
  }
  .mod-state-hidden .title {
    border-left-color: #C4004A;
  }
  .last {
    border-right: 1px solid #ccc;
  }
}

.edit_event {
  legend {
    background-color: $body-color;
    color: $content-background;
    padding-left: 8px;
  }

  #event_body {
    height: 300px;
    font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
  }
}

a.internal-info {
  color: #999;
  cursor: w-resize;
  &:hover {
    text-decoration: none;
  }
}

.popover{
  max-width:540px;
}


.event-properties {
  h4 {
    border-bottom: 1px solid gray;
    color: gray;
    margin-top: 20px;
  }
}
