// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-form {
  textarea {
    min-height: 400px;
  }
}
.form-horizontal label.col-form-label {
    text-align: right;
    margin-bottom: 0;
    padding: 0px;
}
