# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 65c215b9771dfc6c9527a9e714f5f64d712b8ae3d912ebb8cb411290b68549dd90f3219ee899f9bbf235b5a02d0d03022ac6b934bb4efc426aa06e217c99cb49

test:
  secret_key_base: 2ad4b9ad5f692b985a69941acb5ee4e74e7c52665d1094e618b91a68cbe74598d275cc491eea5537377d7e7880c1bcc6bbb101c13ba2d3ba4438be761fca89bf

# Do not keep production secrets in the repository,
# instead read values from the environment.
# production:
#   secret_key_base:
