

$admin-link-color: #4682B4; //SteelBlue

.admin {

  @import "admin/*";
  
  .navbar-brand {
    font-weight: bold;
    color: #ddd;
  }

  a {
    color: $admin-link-color;
    &.btn {
      color: white;
    }
    &.btn-default  {
      color: #333;
    }
  }
}
