$admin-link-color: #4682B4; //SteelBlue

.admin {

  @import "admin/*";
    .nav-item a.nav-link {
    color: white;
    margin: 0 20px;
  }

  a {
    color: $admin-link-color;
    &.btn {
      color: white;
    }
    &.btn:hover {
      color: $very-dark-grey;
    }
    &.btn-primary  {
      color: $very-dark-grey;
    }
  }

}
