article {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  box-shadow: 0px 3px 0px $content-shadow;
  background-color: $content-background;

  h1 {
    font-family: 'TitilliumWeb Bold';
  }

  .where-when {
    margin-top: 6px;
    padding-top: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .who-speaks {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    }

  .badge {
    background-color: $grey;
    color: white;
    &:hover {
      background-color: $body-color;
    }
  }

  .bt {
    padding: 10px 0;
    border-top: 1px solid $content-line;
  }
}

.comment {
  padding: 16px;
  background-color: white;
  margin-bottom: 12px;

  h3 {
    margin-top: 4px;
    font-size: 18px;
  }
  .byline {
    border-bottom: 1px solid $content-line;
  }
}
