.blog-navbar {
    background-color: $content-text;
    color: $content-background;

    .navbar-brand {
      font-size: 32px;
      font-family: 'TitilliumWeb Bold';
      text-transform: uppercase;
      color: $very-light-grey;
      &:hover {
        color: #FFF;
      }
    }

}
