.new_comment {
  margin-bottom: 48px;
  #comment_body {
    height: 300px;
  }
}

.btn-success {
  background: $dark-grey;
  border-color: #FFF;
}

.btn-success:hover {
  background: #FFF;
  border-color: $dark-grey;
  color: $dark-grey;
}

.help-block {
  color: $dark-grey;
}
