@font-face {
  font-family: 'Open Sans';
  src:font-url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb Bold';
  src:font-url('TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
