form.new_event, form.new_comment {
  margin-top: 2em;
  margin-bottom: 3em;
  .form-group {
    margin-bottom: 2em;
  }
  fieldset {
    margin-bottom: 3em;
  }
  legend {
    color: $background-color;
    background-color: $text-grey;
    padding: 2px 6px;
  }
  #event_woman, #event_total {
    width: 80px;
  }
}