.frontend-navbar {
  background: -webkit-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* W3C */
  min-height: 100px;
  padding-top: 30px;
  color: white;

  .navbar-brand {
    font-size: 72px;
    font-family: 'TitilliumWeb Bold';
    text-transform: uppercase;
    color: white;
    &:hover {
      color: whitesmoke;
    }
  }

  a {
    color: white;
  }
  li.divider {
    border-bottom: 1px solid #999;
  }
  .language-switcher {
    margin-left: 6px;
    a {
      display: inline-block;
      padding-left:  6px;
      padding-right: 6px;
      &.active {
        font-weight: bold;
      }
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: whitesmoke;
  }
}
