.blog {
  font-family: $serif;
  color: $font-color;
}

.blog a {
	font-family: $sans-serif;
	color: $link-color;
	text-decoration: none;
}

.blog a:hover {
	color: $font-color;
}

.sans-serif {
	font-family: $sans-serif;
}


/* header */
#blog-header__home-link {
  position: absolute;
  top: $header-margin-top;
  left: 10px;
  text-indent: 99999px;
  width: 200px;
}

#blog-header__logo {
  position: absolute;
  top: -$header-margin-top;
  left: 0;
  padding-left: 20px;
}

#blog-header {
  text-align: right;
  line-height: $header-height;
  box-shadow: 0 1px 11px #999099 inset;
  width: 100%;
  background: $body-bg-color;
  position: fixed;
  top: 0;
}

#blog-header__languages a{
  padding: 0 6px;
}


/* sidebar */
#blog-sidebar {
  background: $dark-grey;
  padding: 25px;
}

#blog-sidebar a {
  color: $light-grey;
}

#blog-sidebar a:hover {
  color: $white;
}

#blog-sidebar H1 {
	font-family: $sans-serif;
  color: $grey;
  font-size: $inuit_base_font_size;
  letter-spacing: 2px;
  margin: 35px 0 12px;
  text-transform: uppercase;
}


/* layout */
#blog-content {
  margin-top: $header-height;
}

.layout-wrapper {
  width: $layout-width;
  margin: 0 auto;
  background: $white-smoke;
  padding-left: 20px;
}


/* article */
.blog-content__article {
  border-top: 1px solid $light-grey;
  padding: 10px 0 40px;
}

.blog-content__article a:hover {
  color: $link-color-hover;
  background-color: $link-bg-color-hover;
  padding: 0 2px;
}
