.frontend-navbar {
  background-color: $dark-grey;
  min-height: 100px;
  padding-top: 30px;
  color: $background-color;

  .navbar-brand {
    font-size: 72px;
    font-family: 'TitilliumWeb Bold';
    text-transform: uppercase;
    color: #EEE;
    &:hover {
      color: #FFF;
    }
  }
  
  a {
    color: $background-color;
  }
  li.divider {
    border-bottom: 1px solid #999;
  }
  .language-switcher {
    margin-left: 6px;
    a {
      display: inline-block;
      padding-left:  6px;
      padding-right: 6px;
      &.active {
        font-weight: bold;
      }
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: $background-color;
  &:hover {
    color: $bright-grey;
  }
}
