#sidebar {

  min-height: 150px;
  padding: 20px;
  background-color: whitesmoke;

  #tag_cloud {
    line-height: 1.6em;

    .s { font-size: 0.8em; }
    .m { font-size: 1.2em; }
    .l { font-size: 1.8em; }
    a {
      text-decoration: none;
    }
  }

  #page-list ul li {
    font-size: 16px;
  }

  aside {
    margin-bottom: 32px;
  }

  h1 {
    color: $dark-grey;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 6px;
    text-transform: uppercase;
  }


  a {
    color: #888;
    &:hover {
      text-decoration: underline;
    }
  }

  input.form-control {
    border-color: $bright-grey;
    background-color: $background-color;
  }

  .btn-sidebar {
    background-color: $bright-grey;
    color: $dark-grey;
    border-color: $bright-grey;
    text-decoration: none;
    &:hover{
      color: $dark-grey;
      background-color: $bright-grey;
      text-decoration: none;
    }
  }
  form.search input {
      width: 306px;
  }
}

@media (max-width: 1180px) {
  #sidebar form.search input {
      width: 238px;
  }
}
@media (max-width: 990px) {
  #sidebar form.search input {
      width: 166px;
  }
}

