$very-light-grey:    #E8E8E8;
$light-grey:         #DCDCDC;
$grey:               #7F7F7F;
$dark-grey:          #4E4E4E;
$very-dark-grey:     #333333;

$blue:               #375E97;
$dark-blue:          darken($blue, 50%);
$red:                #e43a15;
$dark-red:           #BF3112;

$yellow:             #FFBB00;

$text-color:         $dark-grey;

$link-color:         $grey;
$link-color-hover:   darken($link-color, 25%);

$background:         $yellow;
$content-background: $very-light-grey;
$content-shadow:     $light-grey;

$content-line:       $grey;


