/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require morris
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// our partials
@import "variables";
@import "fonts";
@import "header";
@import "article";
@import "comments";
@import "events";
@import "forms";
@import "sidebar";
@import "admin";

@import "blog_header";
@import "blog_posts";

.frontend {
  background-color: $background;
  color: $text-color;
  font-family: Arial, Helvetica,'Open Sans', sans-serif;

  a  {
    text-decoration: none;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }

  .event__link--more-female {
    color: $red;

    &:hover {
      color: darken($red, 5%);
    }
  }

  .event__link--more-male {
    color: $blue;

    &:hover {
      color: darken($blue, 5%);
    }
  }
}

@import "small_screens";
