// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.blog-post {
  h2 {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 2px;
    padding-bottom: 4px;
  }
  .byline {
    margin-top: 0;
    margin-bottom: 6px;
    color: #aaa;
  }
}
