/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


/*------------------------------------*\
    #MASTER SCSS
\*------------------------------------*/

@import "variables";
@import "font-awesome";
@import "bootstrap";

@import "blog_posts";

$white-smoke: #F5F5F5;
$body-bg-color-grey: $white-smoke;

#blog-header {
  background: $body-bg-color-grey;
}

#blog-header__logo {
  position: absolute;
  left: 0;
  padding-left: 20px;

  @media only screen and ( max-width: 40em ) /* 640 */{
    display: none;
  }
}

#blog-header__home-link {
  font-size: 1.8rem;
}
