body {
	margin-top: 120px;
}

.dl-horizontal dt {
  float: left;
  width: 165px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 180px;
}

.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}

.event__link--more-male {
    color: $accent-light;
}

.event__link--more-female {
    color: $accent;
}

.sorting {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  background-color: $content-background;

	a {
		text-decoration: underline;
	}
}
