/*fonts*/
@font-face {
  font-family: 'Montserrat Medium';
  src:font-url('Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src:font-url('Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot');
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot');
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/* colors */
$very-light-grey:    #f5f5f5;
$light-grey:         #DCDCDC;
$grey:               #7F7F7F;
$dark-grey:          #4E4E4E;
$very-dark-grey:     #333333;

$blue:               #375E97;
$dark-blue:          darken($blue, 50%);
$red:                #c5141c;
$dark-red:           #BF3112;
$admin-steel-blue:   #4682B4;

$yellow:             #FFBB00;

// Bootsrap Settings for the `<body>` element.
$body-bg:            white !default;
$body-color:         $dark-grey;

// Bootsrap Settings for the link element.
$link-color:         $grey;
$link-hover-color:   darken($link-color, 25%);

$primary:            $dark-grey;
$secondary:          $admin-steel-blue;

// --------------- normal settings
$content-background: $very-light-grey;
$content-shadow:     $light-grey;
$content-line:       $grey;
